body{
	width:100%;
	height:100%;

	background-image:url("../img/ribbon.png"), url("../img/decoratio.png"), url("../img/old_paper.jpg");
	background-repeat: no-repeat;
	background-position:bottom right, top left,center,center;
}