.clearfix:before, .clearfix:after {

   content: "";

display:  table;

}

.clearfix:after {

clear:  both;

}
.clearfix {

zoom: 1;

}

.fleft{
  float:left;
}
.fright{
  float:right;
}
  .container{
  border: 1px solid gray;
  background-color: #CCC;
  padding: 0.5em;
  margin-bottom: 20px;
}
.container span{
  border:1px solid #000;
}
.box{
  position: fixed;
  left: 100px;
}
.box{
  position: relative;

