.start {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 5em;
}

.clock {
    position: relative;
    width: 378px;
    height: 378px;
    background-image: url("../img/clockFace.png");
    left: 50%;
    margin: 5em 0 0 -189px;
}

.clock div {
    position: absolute;
}



/* ANIMACIONES Y TRANSFORMACIONES */
.hour{
     animation-name:segundos;
     animation-duration: 21600s;
    animation-iteration-count:infinite;
    animation-timing-function: steps(60,end);
    
}
.minute{
     animation-name:segundos;
     animation-duration: 3600s;
    animation-iteration-count:infinite;
    animation-timing-function: steps(60,end);
    
}

.second{
    animation-name:segundos;
    animation-duration: 60s;
    animation-iteration-count:infinite;
    animation-timing-function: steps(60,end);
    
}

@keyframes segundos {
     from {
        transform:rotate(0deg) ;
    }
   
 
    to {
        transform:rotate(360deg) ;
    }

}

@keyframes minutos {
     from {
        transform:rotate(0deg) ;
    }
   
 
    to {
        transform:rotate(360deg) ;
    }

}
@keyframes horas {
     from {
        transform:rotate(0deg) ;
    }
   
 
    to {
        transform:rotate(360deg) ;
    }

}

