 body {
            margin: 0px;
        }
        .container{
            background: #666 url(ej03_tree.jpg) no-repeat -60px 0;
            width: 420px;
            height: 480px;
            position: relative;
        }
        .snowflake {
            color: #fff;
            font-size: 2em;
            position: absolute;
        }
        .snowflake.f1 {
            left: 40px;
            animation-name:snowing, fade;
            animation-duration: 10s,10s;
            animation-delay: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }
        .snowflake.f2 {
            font-size: 1.8em;
            left: 120px;
            animation-name:snowing1;
             animation-duration: 10s,10s;
            animation-delay: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }
        .snowflake.f3 {
            left: 200px;
            animation-name:snowing2;
            animation-duration: 10s,10s;
            animation-delay: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
        }
        .snowflake.f4 {
            font-size: 1.5em;
            left: 280px;
            animation-name:snowing3;
             animation-duration: 10s,10s;
            animation-delay: 1s;
            animation-iteration-count:infinite;
            animation-timing-function: linear;

        }
        
       
        @keyframes snowing {
     from {
        top:0px;
        left:100px;
    }
    20%{
         transform: translate(35px,100px)rotate(-40deg);

    }
     50%{
        transform: translate(0px,200px)rotate(40deg);
    }
    80%{
        transform: translate(25px,300px)rotate(-40deg);
    }
 
    to {
        transform: translate(-10px,400px)rotate(40deg);
    }

}


 @keyframes snowing1 {
     from {
        top:0px;
        left:0px;
    }
    50%{
         transform: translate(-120px,50px)rotate(50deg);

    }
 
    to {
        top:50px;
        bottom: 60px;
        transform: translate(450px,100px);
    }

}
 @keyframes snowing2 {
     from {
        top:0px;
        left:0px;
    }
    50%{
         transform: translate(120px,-50px)rotate(50deg);

    }
 
    to {
        bo
        top:50px;
        left:60px;
        transform: translate(450px,100px);
    }

}
 @keyframes snowing3 {
     from {
        top:0px;
        left:0px;
    }
    50%{
         transform: translate(180px,50px)rotate(80deg);

    }
 
    to {
        top:50px;
        left:60px;
        transform: translate(450px,100px);
    }

}
@keyframes fade {
     from {
        opacity:0.9;
    }
    10%{
        opacity:.0.9;

    }
    20%{
        opacity:0.8;

    }
    30%{
        opacity:0.8;

    }
    40%{
        opacity:0.7;

    }
    50%{
        opacity:0.7;

    }
    60%{
        opacity:0.6;

    }
    70%{
        opacity:0.6;

    }
    80%{
        opacity:0.3;

    }
    90%{
        opacity:0.2;

    }
 
    to {
        opacity:0;
    }

}

 
