<!DOCTYPE html>
<html lang="es" ng-app ="todoApp">

<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="assets/css/main.css">*/ -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <title>Todo List AngularJs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
    <div class="wrapper"></div>
    <h1>Todo</h1>
    <div class="well" ng-controller="TodoController">
    	<form action="#" ng-submit="addTodo()" class="form-inline" ng-submit="addTodo()" >
    		<div class="form-group">
    			<input type="text" class="form-control" size="40" ng-model="inputText">
    			<button type="submit" class="btn btn-primary"  ><span class="glyphicon glyphicon-plus"></span></button>
    		</div>
    	</form>
    	<ul class="list-unstyled">
    		<li ng-repeat="todo in todos">
    			<input type="checkbox" ng-model="todo.done"><span>{{todo.task}}</span></li>
    		
    	</ul>

    </div>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>
